* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* header */

.header {
    padding: 0px 80px;
    background: #FFFFFF;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* .active {
    color: #4200FF;

} */

/* .active:hover {
    color: aqua;
} */ 

.header-first-block {
   display: flex;
   width: 681px;
   justify-content: space-between;
   align-items: center;
}

.logo-black {
    height: 47px;
}

.block-text {
    display: flex;
    width: 471px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.9);
}

.header-second-block {
    display: flex;
    align-items: center;
}

.telephone {
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-right: 40px;    
}

.image2 {
    width: 16px;
}

.image2 {
    width: 20px;
    padding-top: 3px;
}

.image3 {
    width: 20px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F2F3F5;;
    width: 48px;
    height: 48px;
    margin-right: 20px; 
}

.nomargin {
    margin: 0;
}


/* 2-nd block */

.second-block {
    padding: 0px 80px;
    height: 600px; 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
 
.input {
    width: 514px;
    height: 60px;
    left: 141px;
    top: 466px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 88px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}
    
.input1 {
    display: flex;
   
}

.border3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: #4200FF;
    width: 75px;
    height: 58px;
    margin-left: -76.5px;
    margin-top: 1px;
}

.second-block-left-size {
    padding-top: 141px;
    padding-left: 62px;
    width: 627px;
    background: #F5F5F5;
}

h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 41px;
    line-height: 53px;
    margin-bottom: 10px;
    width: 580px;
}

.left-side-text {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
margin-bottom: 30px;
}

.second-block-right-size {
   width: 1000px;
   height: 100%;
   background-image: url('./images/tyre-two.png'), url('./images/shadow.svg');
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: #F5F5F5;
   background-position: left 0 top 30px, left 0 top 350px;
}   
    
/* 3-th block */

.third-block {
    padding: 0px 80px;
    background:  #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
    
}

.card-one, .card-two  {
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
    display: flex;
    padding-right: 7px;
}

.card-three {
    border: 1.5px solid #F2F2F2;
    border-radius: 5px; 
    display: flex;
    padding-right: 7px;
} 


.card-one-photo {
    width: 110px;
    background-image: url(./images/chair-big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F5F5F5;
    background-position: left 0 top 10px, left 0 top 350px;
    
}

.card-two-photo {
    width: 145px;   
    background-image: url(./images/tyre-little.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F5F5F5;
    background-position: left 0 top 15px, left 0 top 350px;
}

.card-three-photo {
    width: 110px;
    height: 129px;
    background-image: url(./images/wheel-big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F5F5F5;
    background-position: left 0 top 6px, left 0 top 350px
}


.h2 {
    
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.card-text-padding {
    padding-left: 15px;
    padding-top: 36px;
}

.izlang {
    width: 193px;
    font-weight: 500;
    font-size: 14px;
}

/* 4-th block */

.four-block {
  
    padding: 0px 80px;
    display:flex;
    margin-bottom: 133px;

}

.four-block-left {
    padding: 11px 10px 0 11px;
    background: #F7F7F7;
    border-radius: 5px;
    margin-right: 20px;  
}

.four-block-right {
   width: 820px;
   display: flex;
   flex-wrap: wrap;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    border-radius: 5px;
}

.menu-item-selected {
    background: #4200FF;
    width: 358px;
}

.menu-item-first {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.menu-item-vector {
    padding-right: 29.51px;
}

.whee {
    background: url("./images/vector-wheel2.png");
    background-size: contain;
}

.whee2 {
    background: url("./images/vector-wheel.png");
    background-size: contain;
}

.chair2 {
    background: url("./images/chair-little.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.acumulator {
    background: url("./images/vector-accumulator.png");
    background-size: contain;
}

.icon {
    margin-right: 19px;
    width: 36px;
    height: 36px;
}


.card-tyre {
    width: 250px; 
    height: 356px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 20px;
    
}

.margin {
    margin-bottom: 20px;
}

.card-tyre:nth-child(3n) {
    margin-right: 0; 
} 


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 18px;
}

.image-block {
    /* width: 278px;
    height: 229px; */
    left: 480px;
    top: 950px;
    background: #F7F7F7;
    border-radius: 5px 5px 0px 0px;
}

h3 {
    font-size: 17px;
    line-height: 22px;
    color: #000000;
     margin-bottom: 10px;
     width: 222px;
     height: 44px;
    margin-left: 20px;
    margin-top: 20px;
}

.stars {
    margin-left: 20px;
    
}

.stars1 {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 24px;
    padding-bottom: 20px;
}

.price {
    margin-right: 20px;
}

    /* 5-ve-block */

.five-block {
    padding: 0px 80px;
    height: 140px; 
    background:  #FFFFFF;
    margin-bottom: 81.2px;
    display: flex;
}

.five-block-flex {
    display: flex;
    width: 400px;
    height: 140px;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
    margin-right: 20px;
}

.five-block-flex:nth-child(3n) {
    margin-right: 0;
}

.five-block-image {
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
    width: 160px;
     height: 137.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.five-block-text {
    padding: 36px 0 0 14px;
}

.five-block-flex h4 {
    
     font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.five-block .text2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

    /* 6-x block */

.six-block {
    padding: 0px 80px;
    height: 358px; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
 
p {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;  
    color: #000000;
    margin-bottom: 52px;
}
.input-six-block {
  
    height: 60px;
    width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.872);
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 88px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    background-color:  #f5f5f52f;
}
    
.input1 {
    display: flex;
}

.border4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 75px;
    height: 58px;
    margin-left: -105px;
    margin-top: 1px; 
}

.six-block-left-size {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 12px;
    background: #F5F5F5;
}


.six-block-right-size {
   width: 1000px;
   height: 100%;
   background-image: url('./images/car.png');
   background-repeat: no-repeat;
   background-size: 100%;
   background-color:#F7F7F7;
   border-radius: 3px;
   background-position: left 0 top 30px, left 0 top 350px;
}   

/* Eng songi Mahsulotlar */

.eng-barchasi {
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.eng {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;  
}   

.barchasi {
font-weight: 400;
font-size: 28px;
line-height: 36px;
color: rgba(0, 0, 0, 0.9);
display: flex;
align-items: center;
justify-content: center;
margin-right: -600px;
}

.border5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height: 58px;
    margin-left: -94.5px;
    margin-top: 1px;  
}

    /* 7 block */

.block-seven {
    padding: 0px 80px;
    display: flex;
    width: fit-content;
    margin-bottom: 80px;
}

.block-seven-card {
    width: 280px; 
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 20px;
}

.card-tyre:nth-child(3n) {
    margin-right: 0; 
} 


.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.size1 {
    width: 164.97px;
    padding-top: 20px;
}

.size2 {
    width: 227px;
    height: 227px;
}

.size3 {
    width: 221px;
    padding-top: 45px;
  
}

.size4 {
    width: 182px;
    padding-top: 25px;
}

.block-seven-image-block {
    height: 229px;
    background: #F7F7F7;
    border-radius: 5px 5px 0px 0px;
}

.stars2 {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 24px;
    padding-bottom: 20px;
}

/* Brendlar */

.brendlar {
    padding: 0px 80px;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
}

    /* 8 block */

.block-eight {
    padding: 0px 80px;  
    display: flex;   
    flex-wrap: wrap;
    gap: 16px 19px;
    width: 100%;
    margin-bottom: 120px;
}

.card-cars {
    width: 280px;
    height: 165px;
    background: #F7F7F7;
    border-radius: 5px;
    padding-top: 10px;
}

.card-cars-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.ford {
    height: 90px;
}

.center {
  display: flex;
  justify-content: center;
}

/* Footer */

.footer {
    height: 311px;
    background: #2F2F2F;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 100px;
}

.footer-first-block-logo {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 20px;
}

p {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    margin-bottom: 52px;
}

.footer-telef {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-first-block-center {
    margin-right: 80px;
}

 li {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 200%;
        color: #FFFFFF;
        list-style-type: none;
 }
 .footer-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-second-block {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.social {
    display: flex;
    justify-content: end;
    height: 30px;
}
